body {
  padding: 0;
  margin: 0;
}

#logo {
  color: rgb(0, 84, 114);
  padding: 4%;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 2.2em;
  letter-spacing: 0.1em;
}
#logo::first-letter {
  font-size: 1.2em;
}
.first-big {
  font-size: 1.2em;
}

#nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0 !important;
  margin: 0;
  padding: 10px 0;
  font-family: 'Cinzel', serif;
  background-color: rgb(0, 84, 114);
  color: rgba(255, 253, 242);
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
