html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#logo {
  color: rgb(0, 84, 114);
  padding: 4%;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 2.2em;
  letter-spacing: 0.1em;
}
#logo::first-letter {
  font-size: 1.2em;
}
.first-big {
  font-size: 1.2em;
}

#nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0 !important;
  margin: 0;
  padding: 1% 0;
  font-family: 'Cinzel', serif;
  background-color: rgb(0, 84, 114);
  color: rgba(255, 253, 242);
  font-size: 1.1em;
  letter-spacing: 0.1em;
  border-top: 1px solid rgb(96, 96, 96);
}
.nav-item {
  text-decoration: none !important;
  color: rgba(255, 253, 242);
}

.pip {
  margin: 0;
  text-align: center;
}
#pip {
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 70vh;
  align-items: center;
  border-bottom: 1px solid rgba(157, 234, 235, 0.344);
}
#pip-text {
  margin: 0 0 5% 10%;
  font-family: sans-serif;
  letter-spacing: 0.08em;
  font-size: 3em;
  text-transform: uppercase;
  width: 45%;
  font-family: 'Philosopher', sans-serif;
  font-weight: bolder;
  color: rgb(1, 62, 84);
  line-height: 1.3em;
  text-transform: capitalize;
}

hr {
  margin: 0;
}

.about-container {
  width: 75%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
}

#about-header {
  font-family: 'Philosopher', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  color: rgb(1, 62, 84);
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
#about-section {
  font-size: 1.3em;
  letter-spacing: 0.2px;
  line-height: 1.5em;
  margin-top: 0;
}

.about {
  font-family: 'Philosopher', sans-serif;
  color: rgb(1, 62, 84);
}

section {
  height: 100%;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
